In [1]:
import pandas as pd

# Import and Clean Data
Importing and cleaning oeprations on the data

In [2]:
ca_rain = pd.read_csv("Data/Ca_Rainfall_20201103_090000_20210531_235959.csv")
sy_rain = pd.read_csv("Data/Sy_Rainfall_20201103_090000_20210531_235959.csv")
wa_rain = pd.read_csv("Data/Wa_Rainfall_20201103_090000_20210531_235959.csv")
wo_rain = pd.read_csv("Data/Wo_Rainfall_20201103_090000_20210531_235959.csv")
wa_water_level = pd.read_csv("Data/Wa_Creek_Water_Level_20201103_090000_20210531_235959.csv")

In [3]:
ca_rain.head(65)

        Unnamed: 0  9am-9am Rainfall (mm)
0    11-03-20 9:00                    0.0
1    11-03-20 9:15                    0.0
2    11-03-20 9:30                    0.0
3    11-03-20 9:45                    0.0
4   11-03-20 10:00                    0.0
..             ...                    ...
60   11-04-20 0:00                    0.0
61   11-04-20 0:15                    0.0
62   11-04-20 0:30                    0.0
63   11-04-20 0:45                    0.0
64   11-04-20 1:00                    0.0

[65 rows x 2 columns]

In [4]:
dfs = [ca_rain,
           sy_rain,
           wa_rain,
           wo_rain,
           wa_water_level]
df_names = ['ca',
           'sy',
           'wa',
           'wo',
           'wa_water_level']
dfs_clean = []

In [5]:
def length_column_name(dfs, df_names):
    for df,name in zip(dfs, df_names):
            df = df.rename(columns={"Unnamed: 0": "datetime",
                                    "9am-9am Rainfall (mm)": f"{name} 9am-9am Rainfall (mm)"
                                  })
            df['datetime'] = df['datetime'].astype('datetime64')
            dfs_clean.append(df)
            print(df.head(20))
            print(df.shape[0])

In [6]:
length_column_name(dfs,df_names)

              datetime  ca 9am-9am Rainfall (mm)
0  2020-11-03 09:00:00                       0.0
1  2020-11-03 09:15:00                       0.0
2  2020-11-03 09:30:00                       0.0
3  2020-11-03 09:45:00                       0.0
4  2020-11-03 10:00:00                       0.0
5  2020-11-03 10:15:00                       0.0
6  2020-11-03 10:30:00                       0.0
7  2020-11-03 10:45:00                       0.0
8  2020-11-03 11:00:00                       0.0
9  2020-11-03 11:15:00                       0.0
10 2020-11-03 11:30:00                       0.0
11 2020-11-03 11:45:00                       0.0
12 2020-11-03 12:00:00                       0.0
13 2020-11-03 12:15:00                       0.0
14 2020-11-03 12:30:00                       0.0
15 2020-11-03 12:45:00                       0.0
16 2020-11-03 13:00:00                       0.0
17 2020-11-03 13:15:00                       0.0
18 2020-11-03 13:30:00                       0.0
19 2020-11-03 13:45:00                       0.0
20081
              datetime  sy 9am-9am Rainfall (mm)
0  2020-11-03 09:00:00                       0.0
1  2020-11-03 09:15:00                       0.0
2  2020-11-03 09:30:00                       0.0
3  2020-11-03 09:45:00                       0.0
4  2020-11-03 10:00:00                       0.0
5  2020-11-03 10:15:00                       0.0
6  2020-11-03 10:30:00                       0.0
7  2020-11-03 10:45:00                       0.0
8  2020-11-03 11:00:00                       0.0
9  2020-11-03 11:15:00                       0.0
10 2020-11-03 11:30:00                       0.0
11 2020-11-03 11:45:00                       0.0
12 2020-11-03 12:00:00                       0.0
13 2020-11-03 12:15:00                       0.0
14 2020-11-03 12:30:00                       0.0
15 2020-11-03 12:45:00                       0.0
16 2020-11-03 13:00:00                       0.0
17 2020-11-03 13:15:00                       0.0
18 2020-11-03 13:30:00                       0.0
19 2020-11-03 13:45:00                       0.0
11160
              datetime  wa 9am-9am Rainfall (mm)
0  2020-11-03 09:00:00                       0.0
1  2020-11-03 09:15:00                       0.0
2  2020-11-03 09:30:00                       0.0
3  2020-11-03 09:45:00                       0.0
4  2020-11-03 10:00:00                       0.0
5  2020-11-03 10:15:00                       0.0
6  2020-11-03 10:30:00                       0.0
7  2020-11-03 10:45:00                       0.0
8  2020-11-03 11:00:00                       0.0
9  2020-11-03 11:15:00                       0.0
10 2020-11-03 11:30:00                       0.0
11 2020-11-03 11:45:00                       0.0
12 2020-11-03 12:00:00                       0.0
13 2020-11-03 12:15:00                       0.0
14 2020-11-03 12:30:00                       0.0
15 2020-11-03 12:45:00                       0.0
16 2020-11-03 13:00:00                       0.0
17 2020-11-03 13:15:00                       0.0
18 2020-11-03 13:30:00                       0.0
19 2020-11-03 13:45:00                       0.0
20086
              datetime  wo 9am-9am Rainfall (mm)
0  2020-11-03 09:00:00                       0.0
1  2020-11-03 09:15:00                       0.0
2  2020-11-03 09:30:00                       0.0
3  2020-11-03 09:45:00                       0.0
4  2020-11-03 10:00:00                       0.0
5  2020-11-03 10:15:00                       0.0
6  2020-11-03 10:30:00                       0.0
7  2020-11-03 10:45:00                       0.0
8  2020-11-03 11:00:00                       0.0
9  2020-11-03 11:15:00                       0.0
10 2020-11-03 11:30:00                       0.0
11 2020-11-03 11:45:00                       0.0
12 2020-11-03 12:00:00                       0.0
13 2020-11-03 12:15:00                       0.0
14 2020-11-03 12:30:00                       0.0
15 2020-11-03 12:45:00                       0.0
16 2020-11-03 13:00:00                       0.0
17 2020-11-03 13:15:00                       0.0
18 2020-11-03 13:30:00                       0.0
19 2020-11-03 13:45:00                       0.0
20039
              datetime  Water Level (m)      Risk
0  2020-11-03 09:00:00            0.003  LOW RISK
1  2020-11-03 09:15:00            0.002  LOW RISK
2  2020-11-03 09:30:00            0.002  LOW RISK
3  2020-11-03 09:45:00            0.002  LOW RISK
4  2020-11-03 10:00:00            0.002  LOW RISK
5  2020-11-03 10:15:00            0.002  LOW RISK
6  2020-11-03 10:30:00            0.002  LOW RISK
7  2020-11-03 10:45:00            0.002  LOW RISK
8  2020-11-03 11:00:00            0.002  LOW RISK
9  2020-11-03 11:15:00            0.002  LOW RISK
10 2020-11-03 11:30:00            0.002  LOW RISK
11 2020-11-03 11:45:00            0.002  LOW RISK
12 2020-11-03 12:00:00            0.002  LOW RISK
13 2020-11-03 12:15:00            0.002  LOW RISK
14 2020-11-03 12:30:00            0.002  LOW RISK
15 2020-11-03 12:45:00            0.002  LOW RISK
16 2020-11-03 13:00:00            0.002  LOW RISK
17 2020-11-03 13:15:00            0.002  LOW RISK
18 2020-11-03 13:30:00            0.002  LOW RISK
19 2020-11-03 13:45:00            0.002  LOW RISK
20066

In [7]:
dfs_clean

[                 datetime  ca 9am-9am Rainfall (mm)
 0     2020-11-03 09:00:00                       0.0
 1     2020-11-03 09:15:00                       0.0
 2     2020-11-03 09:30:00                       0.0
 3     2020-11-03 09:45:00                       0.0
 4     2020-11-03 10:00:00                       0.0
 ...                   ...                       ...
 20076 2021-05-31 22:45:00                       0.0
 20077 2021-05-31 23:00:00                       0.0
 20078 2021-05-31 23:15:00                       0.0
 20079 2021-05-31 23:30:00                       0.0
 20080 2021-05-31 23:45:00                       0.0

 [20081 rows x 2 columns],
                  datetime  sy 9am-9am Rainfall (mm)
 0     2020-11-03 09:00:00                       0.0
 1     2020-11-03 09:15:00                       0.0
 2     2020-11-03 09:30:00                       0.0
 3     2020-11-03 09:45:00                       0.0
 4     2020-11-03 10:00:00                       0.0
 ...                   ...                       ...
 11155 2021-05-31 22:45:00                       0.0
 11156 2021-05-31 23:00:00                       0.0
 11157 2021-05-31 23:15:00                       0.0
 11158 2021-05-31 23:30:00                       0.0
 11159 2021-05-31 23:45:00                       0.0

 [11160 rows x 2 columns],
                  datetime  wa 9am-9am Rainfall (mm)
 0     2020-11-03 09:00:00                       0.0
 1     2020-11-03 09:15:00                       0.0
 2     2020-11-03 09:30:00                       0.0
 3     2020-11-03 09:45:00                       0.0
 4     2020-11-03 10:00:00                       0.0
 ...                   ...                       ...
 20081 2021-05-31 22:45:00                       0.0
 20082 2021-05-31 23:00:00                       0.0
 20083 2021-05-31 23:15:00                       0.0
 20084 2021-05-31 23:30:00                       0.0
 20085 2021-05-31 23:45:00                       0.0

 [20086 rows x 2 columns],
                  datetime  wo 9am-9am Rainfall (mm)
 0     2020-11-03 09:00:00                       0.0
 1     2020-11-03 09:15:00                       0.0
 2     2020-11-03 09:30:00                       0.0
 3     2020-11-03 09:45:00                       0.0
 4     2020-11-03 10:00:00                       0.0
 ...                   ...                       ...
 20034 2021-05-31 22:45:00                       0.0
 20035 2021-05-31 23:00:00                       0.0
 20036 2021-05-31 23:15:00                       0.0
 20037 2021-05-31 23:30:00                       0.0
 20038 2021-05-31 23:45:00                       0.0

 [20039 rows x 2 columns],
                  datetime  Water Level (m)      Risk
 0     2020-11-03 09:00:00            0.003  LOW RISK
 1     2020-11-03 09:15:00            0.002  LOW RISK
 2     2020-11-03 09:30:00            0.002  LOW RISK
 3     2020-11-03 09:45:00            0.002  LOW RISK
 4     2020-11-03 10:00:00            0.002  LOW RISK
 ...                   ...              ...       ...
 20061 2021-05-31 22:45:00            0.002  LOW RISK
 20062 2021-05-31 23:00:00            0.002  LOW RISK
 20063 2021-05-31 23:15:00            0.002  LOW RISK
 20064 2021-05-31 23:30:00            0.002  LOW RISK
 20065 2021-05-31 23:45:00            0.002  LOW RISK

 [20066 rows x 3 columns]]

In [8]:
dfs_clean[0].dtypes

datetime                    datetime64[ns]
ca 9am-9am Rainfall (mm)           float64
dtype: object

In [9]:
df_concat = pd.concat([dfs_clean[0], dfs_clean[1], dfs_clean[2], dfs_clean[3],dfs_clean[4]], axis=1, join="inner")
df_concat.head(65)

,datetime,ca 9am-9am Rainfall (mm),datetime,sy 9am-9am Rainfall (mm),datetime,wa 9am-9am Rainfall (mm),datetime,wo 9am-9am Rainfall (mm),datetime,Water Level (m),Risk
0,2020-11-03 09:00:00,0.0,2020-11-03 09:00:00,0.0,2020-11-03 09:00:00,0.0,2020-11-03 09:00:00,0.0,2020-11-03 09:00:00,0.003,LOW RISK
1,2020-11-03 09:15:00,0.0,2020-11-03 09:15:00,0.0,2020-11-03 09:15:00,0.0,2020-11-03 09:15:00,0.0,2020-11-03 09:15:00,0.002,LOW RISK
2,2020-11-03 09:30:00,0.0,2020-11-03 09:30:00,0.0,2020-11-03 09:30:00,0.0,2020-11-03 09:30:00,0.0,2020-11-03 09:30:00,0.002,LOW RISK
3,2020-11-03 09:45:00,0.0,2020-11-03 09:45:00,0.0,2020-11-03 09:45:00,0.0,2020-11-03 09:45:00,0.0,2020-11-03 09:45:00,0.002,LOW RISK
4,2020-11-03 10:00:00,0.0,2020-11-03 10:00:00,0.0,2020-11-03 10:00:00,0.0,2020-11-03 10:00:00,0.0,2020-11-03 10:00:00,0.002,LOW RISK
...,...,...,...,...,...,...,...,...,...,...,...
60,2020-11-04 00:00:00,0.0,2020-11-04 00:45:00,0.0,2020-11-04 00:00:00,0.0,2020-11-04 00:00:00,0.0,2020-11-04 00:00:00,0.002,LOW RISK
61,2020-11-04 00:15:00,0.0,2020-11-04 01:00:00,0.0,2020-11-04 00:15:00,0.0,2020-11-04 00:15:00,0.0,2020-11-04 00:15:00,0.002,LOW RISK
62,2020-11-04 00:30:00,0.0,2020-11-04 01:15:00,0.0,2020-11-04 00:30:00,0.0,2020-11-04 00:30:00,0.0,2020-11-04 00:30:00,0.002,LOW RISK
63,2020-11-04 00:45:00,0.0,2020-11-04 01:30:00,0.0,2020-11-04 00:45:00,0.0,2020-11-04 00:45:00,0.0,2020-11-04 00:45:00,0.002,LOW RISK
64,2020-11-04 01:00:00,0.0,2020-11-04 01:45:00,0.0,2020-11-04 01:00:00,0.0,2020-11-04 01:00:00,0.0,2020-11-04 01:00:00,0.002,LOW RISK

In [10]:
df_concat.tail()

,datetime,ca 9am-9am Rainfall (mm),datetime,sy 9am-9am Rainfall (mm),datetime,wa 9am-9am Rainfall (mm),datetime,wo 9am-9am Rainfall (mm),datetime,Water Level (m),Risk
11155,2021-02-27 21:00:00,0.0,2021-05-31 22:45:00,0.0,2021-02-27 14:45:00,0.0,2021-02-28 02:30:00,0.0,2021-02-28 02:00:00,0.002,LOW RISK
11156,2021-02-27 21:15:00,0.0,2021-05-31 23:00:00,0.0,2021-02-27 15:00:00,0.0,2021-02-28 02:45:00,0.0,2021-02-28 02:15:00,0.002,LOW RISK
11157,2021-02-27 21:30:00,0.0,2021-05-31 23:15:00,0.0,2021-02-27 15:15:00,0.0,2021-02-28 03:00:00,0.0,2021-02-28 02:30:00,0.002,LOW RISK
11158,2021-02-27 21:45:00,0.0,2021-05-31 23:30:00,0.0,2021-02-27 15:30:00,0.0,2021-02-28 03:15:00,0.0,2021-02-28 02:45:00,0.002,LOW RISK
11159,2021-02-27 22:00:00,0.0,2021-05-31 23:45:00,0.0,2021-02-27 15:45:00,0.0,2021-02-28 03:30:00,0.0,2021-02-28 03:00:00,0.002,LOW RISK

In [11]:
df_concat.dtypes

datetime                    datetime64[ns]
ca 9am-9am Rainfall (mm)           float64
datetime                    datetime64[ns]
sy 9am-9am Rainfall (mm)           float64
datetime                    datetime64[ns]
wa 9am-9am Rainfall (mm)           float64
datetime                    datetime64[ns]
wo 9am-9am Rainfall (mm)           float64
datetime                    datetime64[ns]
Water Level (m)                    float64
Risk                                object
dtype: object

In [12]:
drop_cols = [2]
df_concat_drop = df_concat.drop(df_concat.columns[drop_cols], axis = 1)
df_concat_drop.head()

,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm),Water Level (m),Risk
0,0.0,0.0,0.0,0.0,0.003,LOW RISK
1,0.0,0.0,0.0,0.0,0.002,LOW RISK
2,0.0,0.0,0.0,0.0,0.002,LOW RISK
3,0.0,0.0,0.0,0.0,0.002,LOW RISK
4,0.0,0.0,0.0,0.0,0.002,LOW RISK

In [13]:
datetime = pd.date_range('11/3/2020 9:00', '31/5/2021 23:45', freq="15min") #month day year converts to year month day

In [14]:
datetime_df = pd.DataFrame(datetime)
datetime_df = datetime_df.rename({0: 'datetime'}, axis = 1)
datetime_df['datetime'] = datetime_df['datetime'].astype('datetime64')
datetime_df.head()

             datetime
0 2020-11-03 09:00:00
1 2020-11-03 09:15:00
2 2020-11-03 09:30:00
3 2020-11-03 09:45:00
4 2020-11-03 10:00:00

In [15]:
datetime_df['datetime'] = datetime_df['datetime'].astype('datetime64')

In [16]:
datetime_df.dtypes

datetime    datetime64[ns]
dtype: object

In [17]:
from functools import reduce
df_final = reduce(lambda x,y: pd.merge(x,y, on = "datetime", how = 'inner'), [datetime_df, dfs_clean[0], dfs_clean[1], dfs_clean[2], dfs_clean[3],dfs_clean[4]])
df_final

,datetime,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm),Water Level (m),Risk
0,2020-11-03 09:00:00,0.0,0.0,0.0,0.0,0.003,LOW RISK
1,2020-11-03 09:15:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
2,2020-11-03 09:30:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
3,2020-11-03 09:45:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
4,2020-11-03 10:00:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
...,...,...,...,...,...,...,...
11063,2021-05-31 22:45:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
11064,2021-05-31 23:00:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
11065,2021-05-31 23:15:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
11066,2021-05-31 23:30:00,0.0,0.0,0.0,0.0,0.002,LOW RISK
11067,2021-05-31 23:45:00,0.0,0.0,0.0,0.0,0.002,LOW RISK

In [18]:
df_final.to_csv("Data/combined_rainfall_water_level_data_20201103-20210531.csv", index=False)

In [19]:
!pip install sklearn --upgrade
!pip install joblib
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFECV
import joblib

Requirement already up-to-date: sklearn in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.5.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib in c:\users\vellam1\anaconda3\envs\pythondata\lib\site-packages (1.0.1)

# Machine Learning
Build multiple machine leanring models to work out the best predictor for flood events.

In [20]:
# Set features. This will also be used as your x values, assume all features are potentially relevant with the exception of water level which will be y
X = df_final.drop(["datetime", "Water Level (m)", "Risk"], axis = 1)
y = df_final["Risk"]
X.head()

,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm)
0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state=42)
X_train.head()

,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm)
3227,0.0,0.0,0.0,0.0
4214,6.5,0.0,0.6,0.0
3923,0.0,0.0,0.0,0.0
3904,0.0,0.0,0.0,0.0
2277,0.0,0.0,0.0,0.0

In [22]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Base Model
logistic_reg_model = LogisticRegression(solver = 'newton-cg', multi_class = 'auto')
logistic_reg_model.fit(X_train_scaled, y_train)

logistic_reg_model_train_score = round(logistic_reg_model.score(X_train_scaled, y_train)*100,2)
logistic_reg_model_test_score = round(logistic_reg_model.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {logistic_reg_model_train_score}%")
print(f"Testing Data Score: {logistic_reg_model_test_score}%")

Training Data Score: 99.13%
Testing Data Score: 99.32%

# Use sklearn RFECV to determine the optimal number of variables
Are there any rainfall stations which do not add anything to the flood event prediction? If so, can a cost saving be implemented by removing that rainfall station?

In [24]:
X_features = X.columns.tolist()
X_features
selector = RFECV(estimator = logistic_reg_model, cv=5, step=1)
_ = selector.fit(X_train_scaled, y_train)
print("Optimal number of features: %d" % selector.n_features_)

Optimal number of features: 1

In [25]:
RFECV_features = sorted(zip(selector.ranking_, X_features))
# RFECV_features
RFECV_df = pd.DataFrame(RFECV_features, columns = ["Ranking", "Feature"])
RFECV_df.set_index("Feature", inplace = True)
RFECV_df

                          Ranking
Feature
wo 9am-9am Rainfall (mm)        1
sy 9am-9am Rainfall (mm)        2
ca 9am-9am Rainfall (mm)        3
wa 9am-9am Rainfall (mm)        4

In [26]:
# RFECV has predicted that the wo rain station is the most important for predicting flood events.
RFECV_vars = []
for ea in RFECV_features:
    if ea[0] <= 1:
        RFECV_vars.append(ea[1])
        
RFECV_vars

['wo 9am-9am Rainfall (mm)']

In [27]:
# use new data for models:
X_train_RFECV = X_train[RFECV_vars]
X_test_RFECV = X_test[RFECV_vars]

# X_train_RFECV

X_scaler = MinMaxScaler().fit(X_train_RFECV)
X_train_scaled = X_scaler.transform(X_train_RFECV)
X_test_scaled = X_scaler.transform(X_test_RFECV)

In [28]:
# create a new model using RFECV determined variables
logistic_reg_model_RFECV = LogisticRegression(solver = 'newton-cg', multi_class = 'auto')
logistic_reg_model_RFECV.fit(X_train_scaled, y_train)

logistic_reg_model_RFECV_train_score = round(logistic_reg_model_RFECV.score(X_train_scaled, y_train)*100,2)
logistic_reg_model_RFECV_test_score = round(logistic_reg_model_RFECV.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {logistic_reg_model_RFECV_train_score}%")
print(f"Testing Data Score: {logistic_reg_model_RFECV_test_score}%")

Training Data Score: 99.13%
Testing Data Score: 99.32%

# Improvement?
There does not seem to be any improvement in the model score when the RFECV determined variables are isolated.

In [29]:
# Create the GridSearchCV model
logistic_reg_model_GSCV = LogisticRegression(solver='newton-cg', multi_class='auto')

param_grid = {
    'C': np.logspace(0, 4, 10),
    'penalty': ['l2']
}
grid = GridSearchCV(logistic_reg_model_GSCV, param_grid, cv=5, verbose=0)

# Train the model with GridSearch
_ = grid.fit(X_train_scaled, y_train)

In [30]:
# Train the model with GridSearch
C = grid.best_params_['C']
penalty = grid.best_params_['penalty']

logistic_reg_model_GRID = LogisticRegression(solver = 'newton-cg', multi_class = 'auto', C=C, penalty = penalty)
logistic_reg_model_GRID.fit(X_train_scaled, y_train)

logistic_reg_model_GRID_train_score = round(logistic_reg_model_GRID.score(X_train_scaled, y_train)*100,2)
logistic_reg_model_GRID_test_score = round(logistic_reg_model_GRID.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {logistic_reg_model_GRID_train_score}%")
print(f"Testing Data Score: {logistic_reg_model_GRID_test_score}%")

Training Data Score: 99.13%
Testing Data Score: 99.32%

In [33]:
# Save Evaluations of each model predictions to a CSV
model_evaluations = {"Model": ["Logistic Regression Base", "Logistic Regression (RFECV)", "Logistic Regression (GSCV)"], "Accuracy (%)": [logistic_reg_model_test_score, logistic_reg_model_RFECV_test_score, logistic_reg_model_GRID_test_score]}

eval_df = pd.DataFrame(model_evaluations)
# eval_df
eval_df = eval_df.set_index("Model")

eval_df.to_csv('ML_Models/RegressionModel_Evaluations.csv')
eval_df

                             Accuracy (%)
Model
Logistic Regression Base            99.32
Logistic Regression (RFECV)         99.32
Logistic Regression (GSCV)          99.32

# Improvement?
There does not seem to be any improvement in the model score with the GSCV tuned model.

In [34]:
filename = 'ML_Models/RegressionModel.sav'
joblib.dump(logistic_reg_model_GRID, filename)

['ML_Models/RegressionModel.sav']

# Develop RandomForestClassifier Model

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
# Set features. This will also be used as your x values, assume all features are potentially relevant with the exception of water level which will be y
X = df_final.drop(["datetime", "Water Level (m)", "Risk"], axis = 1)
y = df_final["Risk"]
X.head()

,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm)
0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state=42)
X_train.head()

,ca 9am-9am Rainfall (mm),sy 9am-9am Rainfall (mm),wa 9am-9am Rainfall (mm),wo 9am-9am Rainfall (mm)
3227,0.0,0.0,0.0,0.0
4214,6.5,0.0,0.6,0.0
3923,0.0,0.0,0.0,0.0
3904,0.0,0.0,0.0,0.0
2277,0.0,0.0,0.0,0.0

In [38]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html?highlight=random%20forest#sklearn.ensemble.RandomForestClassifier
RFC = RandomForestClassifier(n_estimators = 500)
RFC.fit(X_train_scaled, y_train)

RFC_train_score = round(RFC.score(X_train_scaled, y_train)*100,2)
RFC_test_score = round(RFC.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {RFC_train_score}%")
print(f"Testing Data Score: {RFC_test_score}%")

Training Data Score: 99.67%
Testing Data Score: 99.46%

# Use sklearn RFECV to determine the optimal number of variables
https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFECV.html
https://scikit-learn.org/stable/auto_examples/feature_selection/plot_rfe_with_cross_validation.html#sphx-glr-auto-examples-feature-selection-plot-rfe-with-cross-validation-py

In [40]:
X_features = X.columns.tolist()
X_features

['ca 9am-9am Rainfall (mm)',
 'sy 9am-9am Rainfall (mm)',
 'wa 9am-9am Rainfall (mm)',
 'wo 9am-9am Rainfall (mm)']

In [41]:
RFECV_features = sorted(zip(RFC.feature_importances_, X_features), reverse = True)
# RFECV_features
RFECV_df = pd.DataFrame(RFECV_features, columns = ["Score", "Feature"])
RFECV_df.set_index("Feature", inplace = True)
RFECV_df

                             Score
Feature
sy 9am-9am Rainfall (mm)  0.515719
wo 9am-9am Rainfall (mm)  0.282870
wa 9am-9am Rainfall (mm)  0.120216
ca 9am-9am Rainfall (mm)  0.081195

# Which variables are now important?
When compared to the logistic regression model, it is interesting to note that the RFECV predicted best variable is now for station SY as compared to WO. It also tends to indicate that there is a relatively significant bias in the result to the rainfall which is captured by station SY on the predicted water level.

In [42]:
# Therefore, we will capture all variables which score > 0.3.
RFECV_vars = []
for ea in RFECV_features:
    if ea[0] >= 0.3:
        RFECV_vars.append(ea[1])
        
RFECV_vars

['sy 9am-9am Rainfall (mm)']

In [43]:
# use new data for models:
X_train_RFECV = X_train[RFECV_vars]
X_test_RFECV = X_test[RFECV_vars]

# X_train_RFECV

X_scaler = MinMaxScaler().fit(X_train_RFECV)
X_train_scaled = X_scaler.transform(X_train_RFECV)
X_test_scaled = X_scaler.transform(X_test_RFECV)

In [44]:
# create a new model using RFECV determined variables
RFC_RFECV = RandomForestClassifier(n_estimators = 500)
RFC_RFECV.fit(X_train_scaled, y_train)

RFC_RFECV_train_score = round(RFC_RFECV.score(X_train_scaled, y_train)*100,2)
RFC_RFECV_test_score = round(RFC_RFECV.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {RFC_RFECV_train_score}%")
print(f"Testing Data Score: {RFC_RFECV_test_score}%")

Training Data Score: 99.43%
Testing Data Score: 99.3%

In [45]:
# Create the GridSearchCV model
RFC_GSCV = RandomForestClassifier(random_state = 42)

# https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

param_grid = {
    'n_estimators': [200, 600, 1200, 1400],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [14, 15, 16, 17, 18, None]
}

grid = GridSearchCV(RFC_GSCV, param_grid, cv=5, verbose=0, n_jobs=-1)

# Train the model with GridSearch
_ = grid.fit(X_train_scaled, y_train)

In [46]:
# Train the model with GridSearch
# https://levelup.gitconnected.com/using-gridsearchcv-to-optimize-your-machine-learning-models-1ebb3b054cd7
# criterion can be set to entropy as the dataset is not particularly large, so computational requirements not too onerous

n_estimators = grid.best_params_['n_estimators']
max_features = grid.best_params_['max_features']
max_depth = grid.best_params_['max_depth']
criterion = 'entropy'


RFC_GSCV_tuned = RandomForestClassifier(max_features = max_features, n_estimators = n_estimators, criterion = criterion, max_depth = max_depth, random_state = 42)
RFC_GSCV_tuned.fit(X_train_scaled, y_train)

RFC_GSCV_tuned_train_score = round(RFC_GSCV_tuned.score(X_train_scaled, y_train)*100,2)
RFC_GSCV_tuned_test_score = round(RFC_GSCV_tuned.score(X_test_scaled, y_test)*100,2)

print(f"Training Data Score: {RFC_GSCV_tuned_train_score}%")
print(f"Testing Data Score: {RFC_GSCV_tuned_test_score}%")

Training Data Score: 99.43%
Testing Data Score: 99.3%

In [47]:
predictions = RFC_GSCV_tuned.predict(X_test_scaled)
classifications = y_test.unique().tolist()

prediction_actual = {"Actual": y_test, "Predictions": predictions}

predictions_df = pd.DataFrame(prediction_actual)
predictions_df = predictions_df.set_index("Actual").reset_index()
predictions_df.head()

     Actual Predictions
0  LOW RISK    LOW RISK
1  LOW RISK    LOW RISK
2  LOW RISK    LOW RISK
3  LOW RISK    LOW RISK
4  LOW RISK    LOW RISK

In [48]:
# Save Evaluations of each model predictions to a CSV
model_evaluations = {"Model": ["RFC Base", "RFC (RFECV)", "RFC (GSCV)"], "Accuracy (%)": [RFC_test_score, RFC_RFECV_test_score, RFC_GSCV_tuned_test_score]}

eval_df = pd.DataFrame(model_evaluations)
# eval_df
eval_df = eval_df.set_index("Model")

eval_df.to_csv('ML_Models/RandomForest_Evaluations.csv')
eval_df

             Accuracy (%)
Model
RFC Base            99.46
RFC (RFECV)         99.30
RFC (GSCV)          99.30

In [49]:
filename = 'ML_Models/RandomForest.sav'
joblib.dump(RFC_GSCV_tuned, filename)

['ML_Models/RandomForest.sav']

# Model Evaluation
It would appear that the Random Forest Classifier does provide a marginally better predictor of flood results than that of the logistic regression model.